body {
    margin: 0;
    padding: 0;
}

/* Estilos para el banner */
.banner {
    position: relative;
    text-align: center;
    color: white;
    background-image: url('/images/imagencusco.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner p {
    font-size: 1.2em;
    max-width: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para el botón "Ver paquete" */
.banner-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4BB609;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: 1.1em;
}

.banner-button:hover {
    background-color: #addfad;
}

/* Estilos para la sección de Destinos de Turismo */
.destinos {
    background-color: #DFDFDF;
    padding: 20px;
}

.destinos .titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #C7522C;
    font-family: 'Georgia', serif;
}

.destinos .contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px; /* Ajusta el gap entre las secciones */
    padding-left: 60px; /* Añade padding a la izquierda */
    padding-right: 60px; /* Añade padding a la derecha */
}

.destinos .tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
}

/* Estilos tarjeta */
.tarjeta {
    background-color: #AFAFAF;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 440px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.tarjeta:hover {
    background-color: white;
}

.tarjeta img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tarjeta h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    color: #C7522C;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.tarjeta p {
    font-size: 0.9em;
    text-align: justify;
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    color: #21618C;
}

/* Estilos para las imágenes sección */
.destinos .imagenes {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ajusta el gap entre las imágenes */
}

.destinos .imagenes .imagen {
    position: relative;
}

.destinos .imagenes img {
    width: 350px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.destinos .imagenes a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #4BB609;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.destinos .imagenes a:hover {
    background-color: #addfad;
}

/* Media queries para la responsividad */
@media (max-width: 768px) {
    .destinos .contenido {
        flex-direction: column;
        align-items: center;
    }

    .banner h2 {
        font-size: 2em;
    }

    .banner p {
        font-size: 1em;
        max-width: 90%;
    }

}



