/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Estilos para el banner */
.banner {
    position: relative;
    text-align: center;
    color: white;
    background-image: url('/images/imagencusco.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner p {
    font-size: 1.2em;
    max-width: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para el botón "Ver más" */
.tarjeta button {
    display: block;
    padding: 10px 20px;
    margin-top: 10px; /* Ajuste de margen para el botón */
    background-color: #C7522C;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: 1.1em;
    width: 150px; /* Ancho ajustado */
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}

.tarjeta button:hover {
    background-color: #A04327;
}

/* Estilos para la sección de Promociones */
.promos {
    background-color: #DFDFDF;
    padding: 20px;
}

.promos .titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #C7522C;
    font-family: 'Georgia', serif;
}

.promos .contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.promos .tarjetas {
    display: flex;
    gap: 20px; /* Espacio entre las tarjetas */
    overflow-x: auto;
    flex-wrap: nowrap; /* Evita que las tarjetas se envuelvan */
    padding-bottom: 10px; /* Espacio inferior para evitar el recorte */
}

/* Estilos para las tarjetas de promociones */
.tarjeta {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 540px;
    flex: 0 0 auto; /* Asegura que las tarjetas no se reduzcan */
    display: flex;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 300px; /* Altura fija para las tarjetas */
    overflow: hidden; /* Evita desbordamientos */
    margin-top: 20px;
    margin-left: 50px;
    padding-right:25px
}

.tarjeta:hover {
    background-color: #AFAFAF;
}

.row {
    display: flex;
    height: 100%; /* Asegura que las columnas ocupen toda la altura de la tarjeta */
}

.col-img {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%; /* Asegura que la imagen ocupe toda la altura de la tarjeta */
}

.col-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjeta img {
    width: 100%;
    height: 100%; /* La imagen ocupa toda la altura de la tarjeta */
    object-fit: cover; /* Asegura que la imagen cubra completamente el área sin deformarse */
}

.tarjeta h3 {
    margin-bottom: 10px;
    font-size: 1.25em;
    color: #C7522C;
    font-family: 'Georgia', serif;
}

.tarjeta p {
    font-size: 1em;
    margin-bottom: 5px; /* Espacio reducido entre párrafos */
    font-family: 'Georgia', serif;
    text-align: justify;

}



/* Estilos para las imágenes de promociones */
.promos .imagenes {
    width: 35%; /* Ancho reducido */
    margin-top: 20px;
}

.promos .imagen {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.promos .imagen img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.promos .imagen a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-indent: -9999px;
}

/* Estilos para el costo */
.costo {
    display: flex;
    justify-content: space-between; /* Alineación a la derecha */
    color:  #C7522C; /* Color de texto */
}

.costo p {
    font-size: 25px; /* Tamaño de fuente ajustado */
}