<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Ruta Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar">
        <!-- Logo de la empresa -->
        <div class="logo">
            <img th:src="@{/images/Logoot2.png}" alt="Logo Empresa">
            <span>Ortega Gonzales SRL.</span>
        </div>

        <!-- Espacio entre logo y enlaces -->
        <div class="spacer"></div>

        <!-- Enlaces de navegación -->
        <ul class="nav-links">
            <li><a onclick="redirectToprincipal()">Tours</a></li>
            <li><a onclick="redirectTopromociones()" >Promociones</a></li>
            <li><a onclick="redirectToinformacion()" >Quienes Somos</a></li>
        </ul>

        <!-- Información de contacto -->
        <div class="contact-info">
            <p>Contactenos: 971-782-252 / 944-215-390</p>
            <p>Correo: OrtegaGonzales@gmail.com</p>
        </div>

        <!-- Botón de Login -->
        <div class="login-button">
            <a href="/login">
                <ion-icon name="person-circle-outline"></ion-icon>
            </a>
        </div>
    </nav>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script th:src="@{/js/navbar.js}"></script>
</body>
</html>
