<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Promociones</title>
    <link rel="stylesheet" th:href="@{/css/Infomacion.css}">
    <link rel="stylesheet" th:href="@{/css/personalisacion.css}">
    <link rel="icon" type="image/png" href="/images/colibriv3.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<!-- Fragmento de la barra de navegación -->
<div th:replace="~{navbar}"></div>


<main>
    <!-- Banner con imagen y texto superpuesto -->
    <div class="banner">
        <div class="banner-content">
            <h2>Ofrecemos más que un viaje, una experiencia inolvidable.</h2>
        </div>
    </div>

    <section class="Informacion">
        <div class="paquete-info">
            <h3 class="titulo">Cusco 06 Días Y 05 Noches | City Tour + Machu Picchu + Valle Sagrado + Maras Moray + Valle Sur + Hotel</h3>
            <p class="descripcion">¡Bienvenidos a una de nuestras mejores opciones de Paquete Cusco Machu Picchu! Sumérgete en la historia de esta milenaria ciudad y disfruta de nuestro Paquete Completo hacia Cusco Machu Picchu. Te ofrecemos asesoría turística las 24/7, guías experimentados, traslados y la mejor opción en alojamiento para tu paseo por Cusco Machu Picchu.</p>

            <h4 class="subtitulo">Itinerario</h4>
            <h4 class="subtitulo">1° DÍA:</h4>
            <ul class="incluye">
                <li>Recepción en el aeropuerto para traslado al hotel, Check In y mate de coca de bienvenida.</li>
                <li>13:30PM Recojo en el hotel para iniciar Excursión City Tour Cusco: Recorrido turístico por la ciudad, visitaremos: El Koricancha o templo del Sol, La Catedral, continuando nuestro recorrido por las cuatro ruinas aledañas a la ciudad: Sacsayhuaman, Qenko, Pukapukara y Tambomachay. Retorno a Cusco.</li>
                <li>Noche de Hotel Cusco.</li>
            </ul>

            <h4 class="subtitulo">2° DÍA:</h4>
            <ul class="incluye">
                <li>Desayuno en Hotel</li>
                <li>08:30 am. Tour Valle Sagrado de los Incas: Visitaremos el pueblo de Pisac y su Mercado Artesanal, Qoya, Lamay, Calca, Yucay. Continuaremos nuestro recorrido hacia Urubamba, centro comercial del Valle, resaltan sus campiñas y su agradable clima al pie del nevado Chicón, aquí disfrutaremos de un almuerzo en restaurant turístico. Luego seguiremos nuestro recorrido a Ollantaytambo; conjunto arquitectónico que fue en tiempos del Tahuantinsuyo un gigantesco complejo agrícola, administrativo, social, religioso y militar. Luego nos trasladaremos a Chinchero, el último punto del recorrido. Este pueblo es un bello ejemplo del estilo mestizo y colonial, a hora indicada regreso a Cusco y transfer a su Hotel.</li>
                <li>Noche de hotel en Cusco.</li>
            </ul>

            <h4 class="subtitulo">3° DÍA:</h4>
            <ul class="incluye">
                <li>Desayuno en Hotel</li>
                <li> A hora indicada recojo del hotel, salimos de la ciudad y comenzamos el recorrido hacia PIQUILLAQTA.- Centro arqueológico Pre – Inca, caracterizada por sus niveles de Construcción de piedra, cal y yeso, Se dice que Piquillacta en un momento albergó a la famosa Cultura Tiahuanaco, destaca en él sus calles que forman cuadrantes, construcciones de doble piso con paredes estucadas y pisos pavimentados. ANDAHUAYLILLAS.- Pueblo tradicional en cuya plaza principal se encuentra su orgulloso templo colonial con admirables cuadros de la escuela Cusqueña, conocida como «La Capilla Sixtina de América» por la preciosa pintura barroca en techo y paredes.</li>
                <li>Noche de Hotel Cusco.</li>
            </ul>


            <h4 class="subtitulo">4° DÍA:</h4>
            <ul class="incluye">
                <li>Desayuno en el Hotel</li>
                <li>9:00 AM APROX. EXCURSION MARAS MORAY: Nuestro tour inicia con el recojo del hotel de la ciudad de Cusco, para dirigirnos a la población de MARAS: Ubicado en la provincia de Urubamba a 3300 m.s.n.m. En la actualidad este pueblo pintoresco guarda atractivos del periodo pre-hispánico, colonial y republicano, destacando en el pueblo las calles y portadas coloniales con escudos de los nobles y caciques de los siglos XVII y XVIII. MORAY: Grupo arqueológico único en su género en la región. Se trata de hoyos naturales gigantescos que fueron utilizados por los incas quienes construyeron terrazas o andenes agrícolas con sus respectivos canales de irrigación, es pues un prototipo de invernadero, el hoyo mayor tiene profundidad de 150 mts. En este lugar es donde se obtuvieron increíbles avances en la agricultura. A hora indicada retorno a la ciudad del Cusco.</li>
                <li>Noche de Hotel Cusco.</li>
            </ul>

            <h4 class="subtitulo">5° DÍA:</h4>
            <ul class="incluye">
                <li>Desayuno en hotel</li>
                <li>EXCURSION MACHU PICCHU: A la hora indicada hacemos traslado de su Hotel a la estación de tren de Ollantaytambo donde se inicia su viaje a Machu Picchu en tren de su elección. Durante el recorrido apreciará la hermosa vegetación característica de la Selva Alta y majestuosos nevados, atravesará túneles y finalmente llegara a la estación de Aguas Calientes, donde abordara el bus de transporte turístico que después de 8 km de ascenso llegará al Complejo de Machu Picchu, donde hallamos Plazas, templos, depósitos, escalinatas, fuentes de agua, andenes y puestos de vigilancias, cementerios, así como el templo del sol, el Intiwatana (Reloj Solar) el templo de las tres ventanas entre otros encantos. Almuerzo Buffet o Almuerzo Turístico . A la hora indicada regresamos a Cusco, arribo y traslado a su hotel en Cusco.</li>
                <li>Noche de Hotel Cusco.</li>
            </ul>

            <h4 class="subtitulo">6° DÍA:</h4>
            <ul class="incluye">
                <li>Desayuno en Hotel</li>
                <li>A hora indicada traslado del Hotel al aeropuerto.</li>
            </ul>

            <h4 class="subtitulo">Incluye:</h4>
            <ul class="incluye">
                <li>Traslados de ingreso y salida del aeropuerto o estación de bus.</li>
                <li>Valle Sagrado, con ticket de ingreso.</li>
                <li>Almuerzo buffet en Valle Sagrado.</li>
                <li>Traslados del hotel a la estación de tren y recojo a su retorno.</li>
                <li>01 Noche de hotel en Aguas Calientes.</li>
                <li>03 Desayunos en el hotel.</li>
                <li>Guiado profesional en todas las excursiones y asistencia.</li>
            </ul>

        </div>

        <div class="seccion_derecha">
            <div class="tarjeta-empresa-info">
                <h3 class="info-titulo">Contáctenos</h3>
                <p class="info-sub-titulo">Teléfonos</p>
                <div class="telefono">
                    <p class="telefono"><ion-icon name="logo-whatsapp" class="icono-verde"></ion-icon> +51 954 964 304</p>
                    <p class="telefono"><ion-icon name="logo-whatsapp" class="icono-verde"></ion-icon> +51 920 470 208</p>
                </div>
                <p class="info-sub-titulo">Email</p>
                <p class="email"><ion-icon name="mail-outline" class="icono-rojo"></ion-icon> OrtegaGonzales2024@gmail.com</p>
                <p class="info-sub-titulo">Oficinas de Operaciones:</p>
                <p class="direccion"> AV. Pachacuteq Nro. 307 Dpto. 202 (FT Perú Rail 2DO Piso, PTA CL Rojo), Cusco - WANCHAQ</p>
                <p class="disponibilidad">Disponible de lunes a domingo</p>
            </div>
            <div class="tarjeta-tarifa">
                <h4 class="textprecio">Tarifa:</h4>
                <p class="precio">S/2,317.27 soles</p>
                <p class="nota">(Cupones limitados)</p>
                <button class="reservar-btn" >Contactanos</button>
            </div>
        </div>
    </section>
</main>

<!-- Ventana Modal -->
<div id="personalizacion" class="personalizacion" style="display: none;">
    <div class="personalizacion-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Contactanos</h2>
        </div>
        <div class="modal-body">
            <form id="reservaForm">
                <div class="form-group">
                    <label for="destino">Destino Turístico Seleccionado:</label>
                    <input type="text" id="destino" name="destino" value="FULL DAY MONTAÑA DE 7 COLORES | VINICUNCA / RAINBOW MOUNTAIN" readonly required>
                </div>

                <div class="form-group">
                    <label for="nombres">Nombres:</label>
                    <input type="text" id="nombres" name="nombres" placeholder="Ingrese su Nombre" required>
                </div>

                <div class="form-group">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" id="apellidos" name="apellidos" placeholder="Ingrese su Apellido" required>
                </div>

                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" name="correo" placeholder="Ingrese su correo electrónico" required>
                </div>

                <div class="form-group">
                    <label for="celular">Celular:</label>
                    <input type="tel" id="celular" name="celular" placeholder="Ingrese su número" required maxlength="9" pattern="\d{9}" title="Debe ingresar exactamente 9 números">
                </div>

                <div class="form-group">
                    <label for="tipDoc">Tipo Documento:</label>
                    <select id="tipDoc" name="tipDoc" required>
                        <option value="DNI">DNI</option>
                        <option value="Pasaporte">Pasaporte</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="documento">N° de documento:</label>
                    <input type="text" id="documento" name="documento" placeholder="Ingrese su documento de identidad" required  minlength="8" pattern="\d*" title="El documento debe contener entre 8 y 20 dígitos">
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha de Partida:</label>
                    <input type="date" id="fecha" name="fecha" required>
                </div>

                <div class="form-group">
                    <label for="tipoViaje">Tipo de Viaje:</label>
                    <select id="tipoViaje" name="tipoViaje" required>
                        <option value="PUBLICO">Público</option>
                        <option value="PRIVADO">Privado</option>
                    </select>
                </div>

                <button type="button" id="contacto_reserva">Contactanos</button>
            </form>
        </div>
    </div>
</div>

<!-- Fragmento del footer -->
<div th:replace="~{footer}"></div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script th:src="@{/js/informacion.js}"></script>
<script th:src="@{/js/personalisacion.js}"></script>
</body>
</html>
