<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Promociones</title>
    <link rel="stylesheet" th:href="@{/css/Infomacion.css}">
    <link rel="stylesheet" th:href="@{/css/personalisacion.css}">
    <link rel="icon" type="image/png" href="/images/Logoot2.png">
</head>
<body>
<!-- Fragmento de la barra de navegación -->
<div th:replace="navbar"></div>

<main>
    <!-- Banner con imagen y texto superpuesto -->
    <div class="banner">
        <div class="banner-content">
            <h2>Ofrecemos más que un viaje, una experiencia inolvidable.</h2>
        </div>
    </div>

    <section class="Informacion">
        <div class="paquete-info">
            <h3 class="titulo">CUSCO CITY TOUR</h3>
            <p class="descripcion">En este programa visitaremos los iconos más representativos de la cultura Inca que rodean la ciudad del Cusco. Nuestra experiencia empezará desde su hotel en Cusco, aproximadamente a la 1:00 de la tarde los recogemos y empezaremos nuestro city tour, el primer sitio que visitaremos será La Catedral del Cusco, Luego visitaremos el Templo Qorikancha o Templo del Sol, según muchos historiadores este fue el templo más importante para los Incas, debido a que se rendía culto a su máxima deidad “El Sol o Inti”.</p>

            <h4 class="subtitulo">Incluye:</h4>
            <ul class="incluye">
                <li>Ingresos a Catedral, Qoricancha, Sacsayhuaman, Qenqo, Puka - Pukara y Tambomachay.</li>
                <li>Guía bilingüe (inglés/español).</li>
                <li>Traslados en transporte turístico.</li>
                <li>Guiado en grupo, Guía profesional Inglés – Español.</li>
            </ul>

            <h4 class="subtitulo">No incluye:</h4>
            <ul class="condiciones">
                <li>Alimentación</li>
                <li>Otros servicios no mencionados.</li>
                <li>Noche de Alojamiento en Cusco.</li>
            </ul>
        </div>

        <div class="seccion_derecha">
            <div class="tarjeta-empresa-info">
                <h3 class="info-titulo">Contáctenos</h3>
                <p class="info-sub-titulo">Teléfonos</p>
                <div class="telefono">
                    <p class="telefono"><ion-icon name="logo-whatsapp" class="icono-verde"></ion-icon> +51 954 964 304</p>
                    <p class="telefono"><ion-icon name="logo-whatsapp" class="icono-verde"></ion-icon> +51 920 470 208</p>
                </div>
                <p class="info-sub-titulo">Email</p>
                <p class="email"><ion-icon name="mail-outline" class="icono-rojo"></ion-icon> reservas@kortegagonzales.com</p>
                <p class="info-sub-titulo">Oficinas de Operaciones:</p>
                <p class="direccion">AV. PACHACUTEQ NRO. 307 DPTO. 202 (FT PERU RAIL 2DO PISO, PTA CL ROJO), Cusco - Cusco - WANCHAQ</p>
                <p class="disponibilidad">Disponible de lunes a domingo</p>
            </div>
            <div class="tarjeta-tarifa">
                <h4 class="textprecio">Tarifa:</h4>
                <p class="precio">S/115.00  soles</p>
                <p class="nota">(Cupones limitados)</p>
                <button class="reservar-btn" >Reservar</button>
            </div>
        </div>
    </section>
</main>

<!-- Fragmento del footer -->
<div th:replace="footer"></div>

<!-- Incluir el fragmento de la ventana modal -->
<div th:replace="personalisacion"></div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script th:src="@{/js/informacion.js}"></script>
<script th:src="@{/js/personalisacion.js}"></script>
</body>
</html>
