<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Promociones</title>
    <link rel="stylesheet" th:href="@{/css/Infomacion.css}"> <!-- Enlace al archivo CSS -->
</head>
<body>
<!-- Fragmento de la barra de navegación -->
<div th:replace="navbar"></div>

<main>
    <!-- Banner con imagen y texto superpuesto -->
    <div class="banner">
        <div class="banner-content">
            <h2>Ofrecemos más que un viaje, una experiencia inolvidable.</h2>
        </div>
    </div>

    <section class="Informacion">
        <div class="paquete-info">
            <h3 class="titulo">CUSCO 05 DÍAS Y 04 NOCHES | CITY TOUR + MACHU PICCHU + VALLE SAGRADO + VALLE SUR + HOTEL</h3>
            <p class="descripcion">Cusco 05 Días Y 04 Noches | City Tour + Machu Picchu + Valle Sagrado + Valle Sur + Hotel Bienvenidos al Paquete Turístico...</p>

            <h4 class="subtitulo">1° DÍA:</h4>
            <ul class="itinerario">
                <li>Recepción en el aeropuerto para traslado al hotel, Check In y mate de coca de bienvenida.</li>
                <li>13:30PM Recojo en el hotel, Recorrido turístico por la ciudad, visitaremos: El Koricancha o templo del Sol, La Catedral, continuando nuestro recorrido por las cuatro ruinas aledañas a la ciudad: Sacsayhuaman, Qenko, Pukapukara y Tambomachay. Retorno a Cusco.</li>
                <li>Noche de Hotel Cusco.</li>
            </ul>

            <h4 class="subtitulo">2° DÍA:</h4>
            <ul class="incluye">
                <li>Desayuno en Hotel</li>
                <li>08:30 am. Tour Valle Sagrado de los Incas: Visitaremos el pueblo de Pisac y su Mercado Artesanal, Qoya, Lamay, Calca, Yucay. Continuaremos nuestro recorrido hacia Urubamba, centro comercial del Valle, resaltan sus campiñas y su agradable clima al pie del nevado Chicón, aquí disfrutaremos de un almuerzo en restaurant turístico. Luego seguiremos nuestro recorrido a Ollantaytambo; conjunto arquitectónico que fue en tiempos del Tahuantinsuyo un gigantesco complejo agrícola, administrativo, social, religioso y militar. Luego nos trasladaremos a la estación de Ollantaytambo para dirigirnos en tren de su elección hacia Aguas Calientes.</li>
                <li>Noche de hotel en Aguas Calientes.</li>
            </ul>

            <h4 class="subtitulo">3° DÍA:</h4>
            <ul class="incluye">
                <li>Desayuno en hotel</li>
                <li>A la hora indicada hacemos traslado de su Hotel a la estación de tren de Ollantaytambo donde se inicia su viaje a Machu Picchu en tren de su elección. Durante el recorrido apreciará la hermosa vegetación característica de la Selva Alta y majestuosos nevados, atravesará túneles y finalmente llegara a la estación de Aguas Calientes, donde abordara el bus de transporte turístico que después de 8 km de ascenso llegará al Complejo de Machu Picchu, donde hallamos Plazas, templos, depósitos, escalinatas, fuentes de agua, andenes y puestos de vigilancias, cementerios, así como el templo del sol, el Intiwatana (Reloj Solar) el templo de las tres ventanas entre otros encantos. Almuerzo Buffet o Almuerzo Turístico. A la hora indicada regresamos a Cusco, arribo y traslado a su hotel en Cusco.</li>
                <li>Noche de Hotel Cusco.</li>
            </ul>

            <h4 class="subtitulo">4° DÍA::</h4>
            <ul class="incluye">
                <li>Desayuno en Hotel</li>
                <li>A la hora indicada traslado del Hotel al aeropuerto.</li>
            </ul>

            <h4 class="subtitulo">Incluye:</h4>
            <ul class="incluye">
                <li>Traslados de ingreso y salida del aeropuerto o estación de bus.</li>
                <li>Almuerzo en Valle Sagrado.</li>
                <li>Traslados del hotel a la estación de tren y recojo a su retorno.</li>
                <li>Ingreso a Machupicchu, Bus de subida y bajada./li>
                <li>01 Noche de hotel en Aguas Calientes.</li>
                <li>03 Desayunos en el hotel.</li>
            </ul>


        </div>

        <div class="seccion_derecha">
            <div class="tarjeta empresa-info">
                <h3 class="info-titulo">Contáctenos</h3>
                <p class="info-sub-titulo">Teléfonos</p>
                <div class="telefono">
                    <p class="telefono"><ion-icon name="logo-whatsapp" class="icono-verde"></ion-icon> +51 954 964 304</p>
                    <p class="telefono"><ion-icon name="logo-whatsapp" class="icono-verde"></ion-icon> +51 920 470 208</p>
                </div>
                <p class="info-sub-titulo">Email</p>
                <p class="email"><ion-icon name="mail-outline" class="icono-rojo"></ion-icon> reservas@kortegagonzales.com</p>
                <p class="info-sub-titulo">Oficinas de Operaciones:</p>
                <p class="direccion">AV. PACHACUTEQ NRO. 307 DPTO. 202 (FT PERU RAIL 2DO PISO, PTA CL ROJO), Cusco - Cusco - WANCHAQ</p>
                <p class="disponibilidad">Disponible de lunes a domingo</p>
            </div>
            <div class="tarjeta tarifa">
                <h4 class="textprecio">Tarifa:</h4>
                <p class="precio">S/2,101.88 soles</p>
                <p class="nota">(Cupones limitados)</p>
                <button class="reservar-btn">Reservar</button>
            </div>
        </div>
    </section>
</main>

<!-- Fragmento del footer -->
<div th:replace="footer"></div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script th:src="@{/js/informacion.js}"></script>
</body>
</html>
